
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h2 class="display-2">Welcome</h2>
    <p> Welcome to YourProject </p>
    <p> Please click on the @Html.ActionLink("API", "Index", "Help") to view API descriptions for YourProject</p>

</div>

