
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-2">YourProject</h1>    
    <hr/>
    <h2 class="display-4">Background</h2>
    
    <p class="text-body">YourProject Community Workshop is a volunteer run organization which provides work spaces and tools for the general public to use. Anyone that would like to use these work spaces is required to complete a general safety course (facilitated by YourProject). Use of heavier machinery may require additional training.</p>

</div>